/* Custom CSS Style Sheet */

@import url(http://fonts.googleapis.com/css?family=Ubuntu);

html *{
    font-family: 'Ubuntu';
}

a:hover {
    text-decoration: underline!important;
}

h1{
    font-size:  17px;
    color : #c0392b;
}
h2{
    font-size:  16px;
    color : #c0392b;
    text-decoration: underline;
}
h3{
    font-size: 15px
color : #c0392b;
    text-decoration: underline;
}

p{
    font-size:  15px;
}
.center .title
{
    vertical-align: 60%;
}
ul.buttons {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    font-size: 15px;
}

.navbar-custom {
    background-color: #fffbf6;
    border: 1px solid #eee;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#fffbf6));
    background-image: -webkit-linear-gradient(top, #ffffff, 0%, #fffbf6, 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #fffbf6 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #fffbf6 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fffffbf6', GradientType=0);
}

code{
    padding: 0 0px;
    background-color : inherit;
}

.shareGroup{
}

.epiceditormarkdown{
    border: 1px solid #c0392b;
}


img {
    max-width: 100%;
    vertical-align: inherit;
    cursor:zoom-in;
}

.pass {
    background-color: #efe;
    color: #393;
    border: 2px solid #393;
}
.fail {
    background-color: #fee;
    color: #933;
    border: 2px solid #933;
}

#result {
    padding: 1em;
}

.jsontext{
    width: 100%;
}

button{
    margin-right:5px;
}

label{
    margin-left:5px;
    font-weight : normal;
}

li{
    margin: 5px 0;
    font-size: 15px;
}

.styled_label{
    font-size: 17px;
    color : #c0392b;
    font-weight: bold;
}

.date{
    color: #c0392b;
    font-weight: bold;
    display: inline-block;
    font-size: 17px;
    font-style: italic;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;
    transition:  left 0.4s ease-in-out;
}
.container.open-sidebar {
    left: 240px;
}

.swipe-area {
    position: absolute;
    width: 50px;
    left: 0;
    top: 0;
    height: 100%;
    background: #FFFFFF;
    z-index: 0;
}
#sidebar {
    background: #FFFFFF;
    position: absolute;
    width: 240px;
    height: 100%;
    left: -240px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#sidebar ul li {
    margin: 0;
}
#sidebar ul li a {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #C0392B;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
}
#sidebar ul li:hover a {
    background: #C9223D;
}
.main-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}
.main-content .content{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 10px;
    width: 100%;
}

.main-content .content p{
    width: 100%;
    line-height: 160%;
}
.main-content #sidebar-toggle {
    background: #BC7871;
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 10px 7px;
    float: left;
    text-decoration-color: black;
}
.main-content #sidebar-toggle .bar{
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
}
.main-content #sidebar-toggle .bar:last-child{
    margin-bottom: 0;
}

table {
    border-spacing: 5px;
}

th,td {
    padding: 15px;
}

.div_container > * {
    float:left;
    margin-right:20px;
}


.div_container:before,
.div_container:after {
    content: " ";
    display: table;
}

.div_container:after {
    clear: both;
}

.div_container_content{
    margin-top:10px;
}

.js-video {
    padding-top: 25px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.js-video.vimeo {
    padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    position: relative;
}

.video{
    margin-bottom: 40px;
    margin-top: 40px;
}

.link-list{
    line-height: 2;
}


/* Google Custom Search override section */

.search-box{
    padding-left: 0px !important;
}
.gsc-input-box {
    background: none !important;
    height: auto !important;
}


.gsc-search-box .gsc-input>input:focus,
.gsc-input-box-focus {
    border: none !important;
}


.gsc-result .gs-title {
    line-height: 1.5em !important;
}


input.gsc-input {
    font-size:inherit !important;
}

.gsc-input{
    border: none !important;
}

div.gsc-selected-option-container {
    width:inherit !important;
}


.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button {
    box-sizing: content-box;
    line-height: normal;
}

.img-no-icon{
    cursor:auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding-left: 0% !important;
    font-size: 15px;
}
/* Zebra striping */
tr:nth-of-type(odd) {
}
th {
    color: #BC7871;
    font-weight: bold;
}
td, th {
    border: 1px solid #ccc;
    text-align: left;
}


@media
only screen and (max-width: 100px),
(min-device-width: 100px) and (max-device-width: 600px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }


}
