---
layout: index-page
title: "Personal website of Madusudanan.B.N"
---

<h1>Welcome</h1>
<p>
  Hello folks !!
  This is the personal website of <a href="/about">me</a>.Here you will find <a href="/blog-list">blogs</a> and other stuff.
  Use the side nav bar to navigate around if you are a human, use the <a href="/sitemap.xml">sitemap.xml</a> if you are a bot.
</p>

<a class="image" href="/images/word-cloud.jpg">
    <img src="/images/word-cloud.jpg" alt="Word Cloud"/>
</a>

<br>

<hr>

<h1>Recent blog posts</h1>

<ul class="posts">
    {% for post in site.posts limit:5 %}
    <li>
        <span>{{ post.date | date_to_string }}</span> &raquo;
        <a href="{{ post.url }}">
            {{ post.title }}</a>
    </li>
    {% endfor %}
</ul>

<hr>

{% include _keeping-up.html %}

<hr>

{% include _google-search-box.html %}

<hr>

<h1>Looking for more posts ?</h1>
<p>Visit the <a href="/blog-list">blog category list page</a> or the <a href="/blog-archive">blog archive page</a> to checkout more blog posts.</p>

<br>
