<hr>
    <div class="shareGroup">
        <h1>Share & Like</h1>
        <p>If you found this blog post useful then give a kudos below.
        </p>
        <div class="row">
        <div class="col-lg-2 col-md-2">
        <figure class="kudo"></figure>
        </div>
        </div>
        <br>
        <p>
            Or spread the word.
            Use any of the below share methods of your favourite site.
        </p>
        <ul class="share-buttons">
                <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fmadusudanan.com&text=:%20http%3A%2F%2Fmadusudanan.com&via=BMadusudanan" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fmadusudanan.com" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fmadusudanan.com&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><i class="fa fa-reddit-square fa-2x"></i></a></li>
                <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fmadusudanan.com&title=&summary=&source=http%3A%2F%2Fmadusudanan.com" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li><a href="https://news.ycombinator.com/submitlink?u=http%3A%2F%2Fmadusudanan.com&t=" target="_blank" title="Discuss this post on Hacker news" onclick="window.open('http://news.ycombinator.com/submitlink?u=' + encodeURIComponent(document.URL) + '&t=' +  encodeURIComponent(document.title)); return false;"><i class="fa fa-hacker-news fa-2x"></i></i></a></li>
        </ul>
    <hr>
    <h1>
        Blog Comments
    </h1>
        <div id="disqus_thread"></div>
        <div class="comments"></div>
        <script type="text/javascript">

        var comments = document.getElementsByClassName('comments')[0],
                disqusLoaded=false;

        function loadDisqus() {
            var disqus_shortname = 'samuraicoderin';
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            disqusLoaded = true;
        }

        //Get the offset of an object
        function findTop(obj) {
            var curtop = 0;
            if (obj.offsetParent) {
                do {
                    curtop += obj.offsetTop;
                } while (obj = obj.offsetParent);
                return curtop;
            }
        }

        if(window.location.hash.indexOf('#comments') > 0)
            loadDisqus();

        if(comments) {
            var commentsOffset = findTop(comments);

            window.onscroll = function() {
                if(!disqusLoaded && window.pageYOffset > commentsOffset - 1500) {
                    loadDisqus();
                }
            }
        }
    </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">Blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

