<h1>Keeping up with blogs</h1>

<p>
    I blog occasionally and mostly write about Software engineering and the likes, if you are interested in keeping up with new blog posts, you should follow me on <a href="https://twitter.com/BMadusudanan">twitter</a> where
    I usually tweet when I publish them.You can also use the <a href="/feed.xml"> RSS feed </a>,or even subscribe via email below.
</p>

<div class="email-subscribe">
    <form action='http://www.feedio.co/@bmadusudanan/verify' id='subscribe_widget_bmadusudanan' method='post' target='popupwindow'>
        <p>Enter your email address:</p>
        <p>
            <input name='email' type='text'>
            <button type="submit">
                <i class="fa fa-envelope-o"></i> Subscribe
            </button>
        </p>
        </form>
</div>