<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a" text-align="">
<a class="hi-icon hi-icon-fa-home" style="text-decoration:none!important" href="http://samuraicoder.in/index" title="Home"></a>Home
<a class="hi-icon hi-icon-fa-wrench" style="text-decoration:none!important" href="http://samuraicoder.in/tools" title="Tools"></a>Tools
<a class="hi-icon hi-icon-fa-folder-o" style="text-decoration:none!important"href="http://samuraicoder.in/blog-list" title="Blog Posts"></a>Blog
<a class="hi-icon hi-icon-fa-user" style="text-decoration:none!important" href="http://samuraicoder.in/about" title="About Me"></a>About Me
</div>

