{% include _blog-list-css-js.html %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>{{ page.title }} - Samurai Coder</title>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="sidebar">
                {% include _side-nav-bar.html %}
            </div>
            <div class="main-content">
                {% include _nav-bar.html %}
                <div class="content">
                    <br>
                    <br>
                    <br>
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>