{% include _css-js.html %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
  <div class="row">
    <div id="sidebar">
      {% include _side-nav-bar.html %}
    </div>
    <div class="main-content">
      {% include _nav-bar.html %}
      <div class="content">
        <br>
        <main>
            <blockquote><p>Posted on <span>{{ page.date | date: "%d %B %Y" }}</span></p></blockquote>
            {{ content }}
          </article>
          {% include _blog-common.html %}
        </main>
      </div>
    </div>
  </div>
</div>

