{% include _posts-css-js.html %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>{{ page.title }} - Samurai Coder</title>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
    <div id="sidebar">
      {% include _side-nav-bar.html %}
    </div>
    <div class="main-content">
      {% include _nav-bar.html %}
      <div class="content">
        <br>
        <main>
          <div class="page-title" style="display:inline-block;">
            <h1>{{ page.title }}</h1>
              <p style="font-size: 17px"><i class="fa fa-calendar"></i><span class="post-date"> {{ page.date | date: "%B %d, %Y" }}</span></p>
          </div>
          <hr>
            {{ content }}
            <hr>
            {% include _google-search-box.html %}
            <hr>
            {% include _keeping-up.html %}
            {% include _blog-common.html %}
        </main>
      </div>
    </div>
  </div>
</div>
</div>

